<!DOCTYPE html>
<html lang="en">
<head>
    <title>PESIT Workshop - HTML The Right Way...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta keywords="PESIT, Workshop, Intuit">
    <meta name="Description" content="Workshop on front end by Intuit.">
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/rightstyle.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/images/Intuit_logo_logotype_1.png" height="35" width="140" alt="Intuit Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>

    </div>
</div>

<div id="home-sec">
</div>

<div id="products-sec">
    <div class="container">
        <div class="row ">
            <div class="text-center g-pad-bottom">
                <div class="col-md-4 col-sm-4 alert-info">
                    <h3>QuickBooks</h3>
                    <p>
                        <strong>QuickBooks</strong> is an accounting software package developed and marketed by Intuit.
                        These products are mainly for small and medium-sized businesses.
                        </p><p>
                        QuickBooks is Intuit Inc's set of software solutions designed to manage payroll, inventory, sales and other needs of a small business.
                        The software's features include marketing tools, merchant services, product and supplies, training solutions.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 alert-success">
                    <h3>TurboTax</h3>
                    <p>
                        <strong>TurboTax </strong>is the #1 best-selling tax software. Free Edition includes free IRS efile.
                        Easily prepare your tax return and file income taxes online.
                        </p><p>
                        TurboTax CD/Download includes the tax preparation fee for one state (state tax prep is an additional cost with TurboTax Basic and Business).
                        It also allows you to prepare and print unlimited federal tax returns, and efile up to five at no charge (extra fee per state efile).
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 alert-danger">
                    <h3>Mint</h3>
                    <p>
                        <strong>Mint.com </strong>is a free, web-based personal financial management service for Canada and the US, created by Aaron Patzer.
                    </p><p>
                        Mint automatically pulls all your financial information into one place, so you can finally get the entire picture. Your financial life, in one place and easy to understand
                </p><p>
                        Manage your money, pay your bills with Mint.
                    </p>
                </div>
            </div>
        </div>
        <div class="row go-marg">

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>QuickBooks Features </h4>
                        <p>
                            Generate Reports<br/>
                            Invoices
                            <ol>
                                <li>Create an invoice easily</li>
                                <li>Email the invoice to the customer</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4>TurboTax Features </h4>
                        <p>
                            Free Federal E-file Included <br/>
                            E-file Multiple Returns
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h4>Mint Features</h4>
                        <p>See all your balances and transactions together <br/>
                            Pulls all your financial information into one place
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    2016 PESIT Workshop | All Right Reserved
</div>


</body>
</html>
